* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 31, 70);
}

/*container {
    
} */


button {
    background-color: rgb(62, 62, 62);
    color: white;
    height: 60px;
    width: 200px;
    font-size: 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

p {
    padding-top: 20px;
}

section {
    background-color: rgb(192, 192, 192);
    width: 400px;
    height: 200px;
    border-radius: 15px;
}